extends ../layout/index

block content
    div(class="py-10")
        h1(class="text-4xl my-10 font-extrabold text-center") Free
            span(class="font-normal") Bazar
        h2(class=" text-center text-2xl font-extrabold")= page 
        if errors
            div(class="max-w-md mx-auto my-10")
                each error in errors
                    p(class="bg-red-600 text-white uppercase text-xs text-center p-2 mb-1 font-bold")= error.msg
        div(class="mt-8 mx-auto max-w-md")
            div(class="bg-white py-8 px-4 shadow")
                form(class="space-y-5" method="POST" action="/auth/register")
                    input(type="hidden", name="_csrf" value= csrfToken)
                    div
                        label(for="name" class="block text-sm uppercase text-white-500 mb-2 font-bold") Name
                        input(type="text" class="w-full px-3 py-2 border border-gray-300 placeholder-gray-400" placeholder="Your name" name="name" value= user ? user.name : "")
                    div
                        label(for="email" class="block text-sm uppercase text-white-500 mb-2 font-bold") Email
                        input(type="text" class="w-full px-3 py-2 border border-gray-300 placeholder-gray-400" placeholder="Your email" name="email" value= user ? user.email : "")
                    div
                        label(for="password" class="block text-sm uppercase text-white-500 mb-2 font-bold") Password
                        input(type="text" class="w-full px-3 py-2 border border-gray-300 placeholder-gray-400" placeholder="Password" name="password")
                    div
                        label(for="repassword" class="block text-sm uppercase text-white-500 mb-2 font-bold") Repeat password
                        input(type="text" class="w-full px-3 py-2 border border-gray-300 placeholder-gray-400" placeholder="Repeat password" name="repeat_password")
                    div(class="flex items-center justify-between")
                        a(href="/auth/login") have account?
                    input(type="submit" value="Crear cuenta" class="w-full bg-indigo-600 hover:bg-indigo-800 text-white cursor-pointer py-3 rounded")