extends ../layout/dashboard

block styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    meta(name="csrf-token" content=csrfToken)

block content
    div(class="py-10")
        h2(class="text-center text-2xl font-extrabold")= page
        h4(class="text-center text-2xl")= subtitle
        div(class="bg-white shadow px-4 py-8 rounded max-w 4xl my-10 md:px-10")
            form(id="image" class="dropzone border-dashed border-2 w-full min:h96 h-auto rounded flex-col justify-center items-center" method="POST" action=`/dashboard/add-image/${sellObject.id}`) 
                input(type="hidden" name="_csrf" value= csrfToken)

            input(class="w-full mt-5 py-3 bg-blue-600 hover:bg-blue-700 rounded text-white font-bold uppercase cursor-pointer" type="submit" value="Add images")
block scripts
    script(src="/js/addImage.js") 
