extends ../layout/index

block content
    div(class="py-10")
        h2(class=" text-center text-2xl font-extrabold")= page 
        a(href="/dashboard/create_selling" class="rounded p-2 bg-indigo-500 hover:bg-indigo-700 text-white font-bold text-sm text-center my-2") Create new selling